/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body ocupa 100% da altura da viewport e organiza layout em coluna */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  min-height: 100vh;       /* altura mínima da viewport */
  display: flex;
  flex-direction: column;
}

/* Container centralizado e com espaçamento */
.container {
  max-width: 800px;
  margin: 0px auto;       /* vertical 100px, horizontal auto */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 15px;
  flex-grow: 1;             /* permite crescer para empurrar o footer */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

/* Lista sem marcadores */
ul {
  list-style-type: none;
  padding: 0;
}

/* Itens da lista estilizados */
li {
  padding: 10px;
  margin: 5px 0;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
}

li:hover {
  background-color: #d0d0d0;
}

/* Título centralizado */
h1 {
  text-align: center;
}

/* Header estilizado */
header {
  background-color: #007bff; /* azul padrão */
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Footer fixado no final da página */
footer {
  background-color: #343a40; /* cinza escuro */
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
  /* Mantém footer no fim da página, sem ser fixo na tela */
}

h1 {
    margin-bottom: 20px;
}
.info {
  max-width: 800px;
  margin: auto;       /* vertical 100px, horizontal auto */
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 15px;
  flex-grow: 1;             /* permite crescer para empurrar o footer */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom:100px;
}